@use '/src/styles/constants/colors';

.loginContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;

  .loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    h2 {
      margin-bottom: 80px;
      font-size: 36px;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      label {
        width: 70%;
        margin: 10px 0;
        font-size: 20px;
        text-align: left;
      }

      input {
        width: 70%;
        padding: 10px;
        border: 1px solid black;
      }

      button {
        width: 70%;
        padding: 15px;
        margin-top: 30px;
        color: colors.$WHITE;
        background-color: blue;
        border-radius: 8px;
      }
    }
  }

  img {
    width: 50vw;
    height: calc(100vh - 70px);
  }
}
