// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYC: #cccccc;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;
$GRAY5E: #5e5e5e;
$GRAYA9: #a9a9a9;

$MAIN_COLOR: #fcd535;
$SUB_COLOR: #2f2f2f;
$SUB_TEXT_COLOR: #9ca3af;
$PLUS: #04c28e;
$MINUS: #ed3756;
$BG_COLOR: #202530;
$MODAL_GRAY_COLOR: #6f7888;
$TABLE_THEAD_COLOR: #181818;
